body, html{
    background-color:#212121;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Consolas";
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    display: none;
  }
.centerDiv{
    width: 100%;
    height: 100%;
    display: table;
}
#middlePart{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color:white;
}
#middlePart2{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color:#cfcfcf;
}
.box{
    width: 500px;
    margin: 4% auto 1% auto;
   
}
.box button{
    width: 90px;
    height: 50px;
    font-size: 12pt;
    color:white;
    background-color: #212121;
    border: 1px solid #cfcfcf;
    border-radius: 15pt;
    font-family: "Consolas";
    letter-spacing: -1pt;
    transition: 0.5s;
}
button:hover{
    cursor: pointer;
    background-color:rgb(37, 75, 44);
    color:#e0e0e0;
}
.logo img{
    position: absolute;
    width: 100px;
    height: 70px;
    margin: 2%;
}
.contact{
    position:fixed;
    top: 4%;
    right: 2%;
    width: 100%;
    height: 30%;
    text-align: right;
}
.contact img{
    width: 35px;
    height: 35px;
}
.contact a img{
    transition: 0.55s;
}
.contact a:hover img{
   background-color:rgb(37, 75, 44);
   padding: 2pt;
   border-radius: 6pt;
   opacity: 50%;
}
.opis{
    width: 600px;
    margin: 0 auto 0 auto;
    letter-spacing: 1pt;
}
#colorfulDot{
    display: inline;
    color: rgb(60, 121, 71);
}
#photo{
    width: 640px;
    height: 370px;
}
