body, html{
    background-color:#212121;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Consolas";
    
}
.centerDiv{
    width: 100%;
    height: 100%;
    display: table;
}
.middlePart{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color:#cfcfcf;
}
.box{
    width: 320px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
}
.box button{
    font-size: 15pt;
    width: 100px;
    color:#cfcfcf;
    background-color: #212121;
    border: none;
    border: 1px solid white;
    border-radius: 15pt;
    padding-top: 4%;
    padding-bottom: 4%;
}
.logo img{
    position: absolute;
    width: 100px;
    height: 70px;
    margin: 2%;
}
.contact{
    position:absolute;
    top: 4%;
    right: 2%;
    color: white;
    width: 100%;
    height: 30%;
    text-align: right;
}
.contact img{
    width: 35px;
    height: 35px;
}
#opis{
    font-size: 15pt;
}
#photo{
    width: 640px;
    height: 370px;
}