body, html{
    background-color:#212121;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Consolas";
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    display: none;
  }
.centerDiv{
    width: 100%;
    height: 100%;
    display: table;
}
#middlePart{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color:white;
}
#middlePart2{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color:#cfcfcf;
}
.box{
    width: 500px;
    margin: 4% auto 1% auto;
   
}
.box button{
    width: 90px;
    height: 50px;
    font-size: 12pt;
    color:white;
    background-color: #212121;
    border: 1px solid #cfcfcf;
    border-radius: 15pt;
    font-family: "Consolas";
    letter-spacing: -1pt;
}
button:hover{
    cursor: pointer;
    color: rgb(33, 112, 230);
}
.logo img{
    position: absolute;
    width: 100px;
    height: 70px;
    margin: 2%;
}
.contact{
    position:fixed;
    top: 4%;
    right: 2%;
    color: white;
    width: 100%;
    height: 30%;
    text-align: right;
}
.contact img{
    width: 35px;
    height: 35px;
}
.opis{
    width: 600px;
    margin: 0 auto 0 auto;
    letter-spacing: 1pt;
}
#colorfulDot{
    display: inline;
    color: rgb(33, 112, 230);
}
#photo{
    width: 640px;
    height: 370px;
}
