body,
html {
  background-color: #0a192f;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Consolas";
  box-sizing: border-box;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #a8b2d146;
  border-radius: 12px;
}

/*First Page*/
.centerDiv {
  width: 100%;
  height: 100%;
  display: table;
}
#middlePart {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #a8b2d1;
}
.box {
  width: 50%;
  margin: 4% auto 1% auto;
}
.box button {
  width: 90px;
  height: 40px;
  font-size: 12pt;
  color: #64ffda;
  background-color: #0a192f;
  border: 1px solid #64ffda;
  border-radius: 3pt;
  font-family: "Consolas";
  letter-spacing: -1pt;
  transition: 0.5s;
  margin: 1%;
}
button:hover {
  cursor: pointer;
  background-color: #64ffdb28;
}
.logo {
  position: absolute;
  width: 300px;
  z-index: 2;
  display: flex;
  align-items: center;
  margin: 1% 0 0 1%;
}
.logo h2 {
  color: #a8b2d1;
}
.logo img {
  cursor: pointer;
}
#tekstic {
  width: 22ch;
  animation: typing 10s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.contact {
  position: fixed;
  top: 4%;
  right: 2%;
  width: 100%;
  height: 30%;
  text-align: right;
  z-index: 1;
}
.contact img {
  width: 35px;
  height: 35px;
  transition: 0.6s;
}
.contact img:hover {
  opacity: 0.6;
}
.opis {
  width: 50%;
  margin: 0 auto 0 auto;
  letter-spacing: 1pt;
}
.opis a {
  text-decoration: none;
  color: #a8b2d1;
  transition: 0.5s;
}
.opis a:hover {
  color: #64ffda;
}
#colorfulDot {
  display: inline;
  color: #64ffda;
}
#photo {
  width: 640px;
  height: 370px;
}
.email-right {
  position: fixed;
  top: 60%;
  right: 4%;
  writing-mode: vertical-rl;
  height: 60%;
}
.email-right a {
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #a8b2d1;
  margin-bottom: 7%;
  transition: 0.3s;
}
.email-right a:hover {
  color: #64ffda;
  margin-bottom: 6%;
}

/* Second Page */
#center2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*neki tekst add na 2 stranici*/
#center2 button {
  margin-top: 5%;
  width: auto;
  height: 30px;
  color: white;
  border: 1px solid #64ffda;
  border-radius: 10px;
  transition: 0.5s;
  background-color: #112240;
}
#center2 button:hover {
  background-color: #64ffdb28;
}
#process{
  color:#64ffda;
  font-size: 10pt;
  font-style: italic;
}
.container {
  position: relative;
  margin: 0.3%;
  overflow: hidden;
  border-radius: 12px;
}
.kontejneri {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.6s ease;
  background-color: #051124;
}
.container:hover .overlay {
  opacity: 1;
}
.container:hover img {
  transform: scale(1.1);
  transition: 0.7s;
}
.text {
  color: #a8b2d1;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Third page */
#thirdPage {
  margin: auto auto auto auto;
  width: 60%;
  display: flex;
  flex-direction: row;
}
#middlePart2 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #a8b2d1;
}
.aboutMe {
  width: 70%;
  text-align: left;
  font-size: 13pt;
  margin-right: 5%;
}
.aboutMe a {
  text-decoration: none;
  color: #a8b2d1;
  transition: 0.5s;
}
.aboutMe a:hover {
  color: #64ffda;
}
.aboutMe h1 {
  color: white;
}
.aboutMe ul {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  list-style: none;
  font-size: 12pt;
}
ul li::before {
  content: "▹";
  color: #64ffda;
}
.maturska img {
  width: 240px;
  height: 320px;
  border-radius: 10px;
}

/*Fourth Page*/
#fourthPage {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 13pt;
}
footer {
  text-align: center;
  color: #a8b2d1;
  padding-bottom: 1px;
}
#opisZadnji{
  color: #64ffda;
}
footer p {
  font-size: 10pt;
}
.outro {
  position: absolute;
  width: 500px;
  z-index: 3;
  display: flex;
  align-items: center;
  margin: 5% 0% 0% 1%;
}
#tekstic2 {
  color: #a8b2d1;
  width: 22ch;
  animation: typing 35s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}


/* Mobile */
@media only screen and (max-width: 600px) {
  body{
    font-size: 10pt;
    padding: 2%;
  }
  #photo{
    width: 90%;
    height: 30%;
  }
  .logo{
    font-size: 8pt;
    width: 51%;
  }
  .logo img{
    width: 50px;
  }
  .box,.opis, .contact, .kontejneri{
    width: 100%;
  }
  .container{
    width: 46%;
  }
  .overlay{
    width: 100%;
    font-size: 10pt;
  }
  .text{
    font-size: 10pt;
    width: 95%;
  }
  .contact img{
    width: 28px;
    height: 28px;
  }
  #center2 h2{
    display: none;
  }
  .email-right, .outro{
    display: none;
  }
  #thirdPage{
    width: 100%;
    flex-direction: column;
  }
  .maturska img{
    width: 180px;
    height: 240px;
  }
  .aboutMe{
    font-size: 12pt;
    width: 100%;
  }
  .aboutMe ul{
    font-size: 11pt;
  }
  #fourthPage{
    width: 100%;
    font-size: 12pt;
  }
  footer p{
    font-size: 6pt;
  }
  
}